<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="text/javascript" src="/static/js/app.js" defer></script>
  </head>
  <body>
    <h1>This is the home page</h1>
    <p>Welcome to the home page. This page will be rendered using EJS.</p>
    <ul>
      <% for(var i=0; i < cards.length; i++) { %>
      <li>
        <%= cards[i].prompt %>
      </li>
      <li>
        <%= cards[i].question %>
      </li>
      <li>
        <%= cards[i].answer %>
      </li>
      <% } %>
      <a href="/topics/<%=category%>">back to <%=category%></a>
    </ul>
  </body>
</html>
